
# ==============================================================================
# VSCODE
# ==============================================================================
.vs_code
*.code-workspace

# ==============================================================================
# PYTHON
# ==============================================================================
__pycache__